# flask-app.service.j2

[Unit]
Description=Flask App
After=network.target

[Service]
User=ec2-user
WorkingDirectory={{ app_dir }}/flask-sqlite-s3-project
ExecStart=/usr/bin/python3 {{ app_dir }}/flask-sqlite-s3-project/app.py
Restart=always

[Install]
WantedBy=multi-user.target


